doctype html
html
  head
    title bookmarks
    link(rel='stylesheet' type='text/css' href='css/bootstrap.css')
    link(rel='stylesheet' type='text/css' href='css/bootstrap-theme.css')
    script(type='text/javascript' src='js/jquery-3.1.1.js')
    script(type='text/javascript' src='js/angular.js')
    script(type='text/javascript' src='js/bootstrap.js')
  body
    block content